<p class="title">
	Synopsis:
</p>

<p class="paragraph">
	ProveIt! is an on-line debate and discussion forum designed for people passionate about their opinions and
	confident in their ability to defend them with facts and logic. It solves two major problems found in similar
	websites:
</p>
<ol class="paragraph">
	<li>
		Most existing Internet debate and discussion forums (including those found at the end of many on-line news
		articles) offer nothing to help separate truth from fiction or expose fallacies. Although they frequently host
		lively and contentious arguments, the final result is usually a jumbled collection of insinuations, implied
		objections and vicious ad hominems. Valid points are often ignored or lost in the clutter. Personal opinions
		are rarely changed as a result. Some debate websites provide voting mechanisms designed to identify a “winner”
		but this approach is woefully subjective and effectively meaningless. ProveIt! strongly believes that debate
		outcomes should be based on facts and logic rather than popular sentiment.
	</li>
	<li>
		Discussion threads in most Internet forums are difficult to read. They invariably utilize a linear style
		format with the entire dialogue displayed in a single scrollable list. It's possible that any given comment is
		in response to another post hundreds of lines above it. Anything beyond the simplest discourse quickly becomes
		convoluted and mentally unmanageable.
	</li>
</ol>

<p class="title">
	Solutions:
</p>

<p class="paragraph">
	ProveIt! solves the first problem with its primary objective to validate (or invalidate) any opinion presumed
	to be based on facts and/or knowledge (as opposed to personal perspective or bias). Very briefly, a debate in
	ProveIt! is represented by a multi-level graphical tree structure whose nodes typically consist of an initial
	opinion (level 0) followed by a cascading onslaught of responses many levels deep. It’s important to understand
	these responses are strictly limited to objections – as opposed to the usual variety of comments, questions,
	insinuations, etc. When first submitted, an initial opinion will be shaded green (suggesting valid). It will
	remain that way until contested with one or more objections. At this point it will become red (suggesting
	invalid) and the objections will be green. Supporters of the initial opinion will examine these objections
	looking for inaccurate facts or flawed logic, and possibly contest them with their own objections causing their
	status to revert to red. And on and on it goes. As a debate tree grows over time, it will start looking like a
	virtual Christmas tree with objections (and possibly the initial opinion) toggling back and forth between green
	and red. A post will remain green as long as it has no valid objections but all it takes is one to render it
	red. Eventually, all conceivable objections at all levels will be thoroughly analyzed exposing any falsehoods
	and/or fallacies. Objections cannot be ignored or overlooked without consequences. They must be either challenged
	or conceded. As a debate’s branches eventually become atomized and fully resolved, the initial opinion will
	converge on red or green. The “losing” side will have little choice but to capitulate. His arguments will have
	been exposed as weak and he will be rendered powerless to change the final outcome.
</p>

<p class="paragraph">
	ProveIt! solves the second problem by providing users multiple ways to navigate a debate tree. They can examine
	one post at a time (along with its direct objections) or choose to display the selected branch in “expanded mode”
	with each node reflecting its current status (green or red).
</p>

<p class="title">
	Additional features help make ProveIt! an enjoyable and educational experience:
</p>

<p class="paragraph">
	While it’s important that debate trees be limited to objections, the ability to post anything else (comments,
	questions, etc.) is possible in separate “comment” trees. Participants and authorized observers can conduct
	sidebar discussions or post unrestricted (within reason) comments.
</p>

<p class="paragraph">
	By definition, all even-level objections are in support of the initial opinion while all odd-level objections
	are in opposition. When starting a new debate the originator is offered several options including "Lone Wolf"
	which will pit him alone against everyone else. This means only he will be permitted to post objections to
	odd-level posts. He must also decide whether to declare the debate as public or private. A public debate means
	anyone can participate. A private debate requires him to identify the participants. These participants
	can be divided into teams if desired. Two additional options include “Public Viewing” and “Public Comments”.
	This determines whether the public will be permitted to view private debates and/or post comments even while
	blocked from participating. For example, imagine a private debate on gun control between two heavyweight
	political pundits like Michael Moore &  Rand Paul with public viewing and comments allowed. The public could watch
	and post comments but not engage in the actual debate.This would be the debating equivalent of an Ali vs. Frazier
	boxing match!
</p>

<p class="paragraph">
	When posting an objection to a suspected fallacy, a user can manually select its type from a cascading series
	of pull-down menus, or allow ProveIt! to assist with its “Fallacy Wizard”. This is a built-in expert system
	designed to help identify the type of fallacy being employed.
</p>

<p class="paragraph">
	The nature of the website encourages, if not enforces, thoughtful and reasonable discourse. A rating system keeps
	track of user performance and ranks everyone accordingly. So while ProveIt! is an effective tool for revealing
	the truth, it’s also fun! Competitive users become very interested (if not obsessed) with defending their opinions
	and maintaining their ratings.
</p>

<p class="paragraph">
	Sometimes users are interested in an issue but aren't sure where they stand. Instead of posting an opinion that
	could have a negative effect on their rating, they can post an “Initiator”. This invites the community to submit
	their opinions. The OP (original poster) is free to participate as the debates play out. Initiators can also be
	used to submit public quotes made by other people thereby prompting debate on their validity.
</p>

<p class="paragraph">
	Two API's are offered to external websites interested in bringing ProveIt! into their discussion forums. One is
	used to submit locally generated opinions to the ProveIt! website where it will be debated. The other will query
	the status of the submitted opinion. The result can be used to identify the local opinion as “true” or “false”
	in some fashion. For example, sites like Facebook can integrate these API's allowing users to flag opinions with
	a “ProveIt!” icon and watch its validity play out remotely. Opinions submitted using this API will be tagged in
	ProveIt! revealing to its users that it came from an external source. Links will be provided allowing users to
	navigate between the two sites.
</p>

<p class="title">
	Users will find many interesting uses for ProveIt! including:
</p>

<ol class="paragraph" type="I">
	<li>Resolving controversial debates
	<ol type="a" class="i1">
		<li>(e.g., (Public) “In my opinion, abortion should be legal.”)
		<li>(e.g., (Public) “In my opinion, personal ownership of firearms should be criminalized.”)
	</ol>
	<li>Resolving family conflicts
	<ol type="a">
		<li>(e.g., (Private) “In my opinion, you are too hard on Johnny…”)
		<li>(e.g., (Private) “In my opinion, we should not get divorced because...”)
	</ol>
	<li>Conducting debate competitions
	<ol type="a">
		<li>(e.g., (Initiator, Private, Public Viewing & Comments) “This house believes the death penalty is inappropriate and should be banned.”)
		<li>(e.g., (Initiator, Private, Public Viewing & Comments) “This house believes that global warming is being accelerated by human activity.”)
	</ol>
	<li>Deliberating court cases
	<ol type="a">
		<li>(e.g., (Private) “In my opinion, the defendant is guilty of attempted murder.”)
		<li>(e.g., (Private) “In my opinion, the defendant is innocent of all charges.”)
	</ol>
	<li>Decision making tool
	<ol type="a">
		<li>(e.g., (Private, Public Viewing) “In my opinion, we should go to the Bahamas for our summer vacation.”)
		<li>(e.g., (Private, Public Viewing & Comments) “In my opinion, Susie should choose Harvard.”)
	</ol>
	<li>Teaching tool
	<ol type="a">
		<li>(e.g., (Initiator, Private, Teams) “Today's assignment is to form and debate an opinion on religion. Points will be awarded for
			every fallacy identified.”
	</ol>
</ol>