<p class="maintitle">
	Contact
</p>

<p class="paragraph">
  ProveIt! is a product of DaBeals LLC<br>
	Founder: Jeff Beal (jrbeal@cox.net) (757-291-9203)<br>
	Co-Founder: Justin Beal (jsbeal@gmail.com) (757-817-6043)
</p>
