<!DOCTYPE html>
<html>
<head>
  <style>
      body {
      }
      .contact {
          font: arial, sans-serif;
          margin-left: 150px;
          margin-right: 150px;
          justify-content: ;
      }

  </style>
</head>

<body>
<% provide(:title, "Contact") %>
<p class="contact">
  Under Construction...</p>
</body>
</html>