<p class="maintitle">
	Help
</p>

<p class="paragraph">
	To access most functionality in <b>ProveIt!</b>, you must first create an account and log in. To do this, select
	"Sign up" on the log-in screen then log in using your new credentials. Once logged in you'll note that your account
	information appears in the left column on the screen. At this point your profile picture is a default user icon. To
	change this, click on it (or your user name directly below it) and then select the "Profile" tab. From here you can
	update your profile picture and other user information. Once completed, select the "Save" button to commit any changes.
	Return to the home page by selecting the "Home" link located near the top-right corner of the browser screen, or by
	selecting the ProveIt! icon in the upper-left corner.
</p>

<p class="paragraph">
	ProveIt! supports three basic topic types, "Opinions", "Initiators", and "Casual":
</p>

<div style="margin-left:2%">
	<p class="title">
		Opinions:
	</p>

	<p class="paragraph">
		Opinions are meant to be serious and well thought-out as they will be challenged from all angles and scrutinized
		for complete accuracy. It's important that they be flawlessly worded and beyond reproach. If any part of an
		opinion is false, the whole post will be rendered false. It's best to keep them as simple as possible. If
		you have multiple opinions on a subject it is recommended that you post them separately. <b><em>Possible replies
		include Objections and Sidebars.</em></b> Objections are essentially the same as Opinions but called such to emphasize
		their purpose. General comments, questions, insinuations, and personal attacks (if you must) are best submitted
		as a Sidebar. It's important to understand that the actual debate tree consists of an Initial Opinion (IO) followed
		by a cascading onslaught of Objections (and nothing but Objections) any number of levels deep. Sidebars are welcome
		but kept separate.
	</p>

	<p class="paragraph">
		At any point in time, Opinions (and Objections) reveal their current status with their background color.
		<span style="background-color:lightgreen; border-width: 1px; border-style: solid; padding-left:3px; padding-right:3px">
		green</span> suggests "true" while
		<span style="background-color:mistyrose; border-width: 1px; border-style: solid; padding-left:3px; padding-right:3px">
		red</span> suggests "false". At no time is this status intended to represent
		a definitive conclusion but rather an indication that the post has either been successfully defended (true), contested
		(false), or uncontested (true), This status could change at any time. It's up to users to passionately and aggressively
		defend their posts to keep them green. Eventually, as a debate matures and all its branches are fully resolved,
		the IO will converge on true or false (green or red).
	</p>

	<p class="title">
		Initiators:
	</p>

	<p class="paragraph">
		Initiators provide a way to prompt other users to post their Opinions on a subject. They can be identified by their
		<span style="background-color:lightyellow; border-width: 1px; border-style: solid; padding-left:3px; padding-right:3px">
		yellow</span> background. Perhaps a user wants to discuss a controversial topic but isn't sure where he stands yet.
		Or perhaps he wants to post a link to a recent article containing debatable statements and would like to solicit
		opinions from other users. <b><em>Possible replies include Opinions or Sidebars.</em></b>
	</p>

	<p class="title">
		Casual:
	</p>

	<p class="paragraph">
		A Casual topic can be anything a user believes will be interesting or amusing.They can be identified by their
		<span style="background-color:lightblue; border-width: 1px; border-style: solid; padding-left:3px; padding-right:3px">
		blue</span> background. <b><em>The only possible reply is a Comment.</em></b>
	</p>
</div>

<p class="paragraph">
	The "Compose" option allows users to generate new topics. Radio buttons are provided to indicate the desired type
	(Opinion, Initiator, and Casual). All three require an entry in the primary text field. This is meant to be short and
	to the point. The following "Support" text field is optional for Casual and Initiator posts but required for Opinions.
	This can be used to add unlimited rationale, justification, or simple commentary. The third field (a URL) is used to
	reference an external link, if desired. Finally, the topic format must be declared "Public" or "Private".
</p>

<div style="margin-left:2%">
	<p class="title">
		Public:
	</p>

	<p class="paragraph">
		A Public format means that all users can participate. Opinion posts declared Public offer the OP an option
		to go "Lone Wolf". This means only he will be permitted to respond to odd-level posts. Since Opinions spawn debates
		consisting of objections only, all even-level posts (in any branch) will be in support of the IO while all odd-level
		posts will be in opposition. In other words, only he would be permitted to respond to the opposition. A Lone Wolf has
		decided he wants no help supporting his opinions. It's him against the world! Lone Wolf posts are tagged with
		the
		&nbsp <span><%= image_tag('wolf3.png', :size => '14x18') %></span> &nbsp icon.
	</p>

	<p class="paragraph">
		Casual posts also have the option to declare themselves a "Channel". A Channel is a public Casual topic that restricts
		interaction much like a Lone Wolf post. The OP can only respond to other people while other people can only respond
		to the OP. So it's like an AMA ("Ask Me Anything", in Reddit), only better. An AMA is nothing but a subreddit in
		which the OP promises to participate for a short time. That's it. Anyone can respond to anyone. A ProveIt Channel
		will provide a personal forum in which the OP can respond to as many questions/comments as he likes, whenever he
		likes, as long as he likes (perhaps indefinitely). Keep in mind, only he can respond to other posters so the topic
		remains very uncluttered. "Top Channels" will be sorted according to an internal scoring system encouraging owners
		to remain actively engaged.
	</p>

	<p class="title">
		Private:
	</p>

	<p class="paragraph">
		Private means only a select list of users designated by the OP will be permitted to view and participate in the
		topic. This is ideal for family "squabbles", corporate decision making, jury debates, etc. At the OP's discretion,
		he can select "Public viewing" which will permit other users to view the topic but not participate. In addition, a
		"Public sidebars" option will allow other users to post comments but not Objections. This option is ideal for
		prominent users (celebrities, political pundits, politicians, etc.) desiring to engage opponents in semi-private
		debates. The public can view them and post comments but not participate in the actual debates. The most popular
		semi-private topics are prominently displayed in a "Marquee" found in the right column. Topics permitting
		Public Sidebars display the
		&nbsp <span><%= image_tag('comment.png', :size => '14x18') %></span> &nbsp
		icon.
	</p>

	<p class="paragraph">
		The OP may elect to create teams in a private topic. This means different things depending on the topic type. With
		Opinions, teams will be separated by users who "Agree" with the IO, from those who "Disagree". In other words, team
		members who agree will only be permitted to object to odd-level posts. Team members who disagree will only be
		permitted to object to even-level posts. With Initiators, teams will be designated as "Team 1" and "Team 2".
		Anyone from either team can post Opinions but after that teammates must remain in agreement. There is no "Team"
		option available with Casual Topics.
	</p>
</div>

<p class="title">
	Scoring:
</p>

<p class="paragraph">
	When a post (Opinion or Objection) is first submitted, its status is set to "true" (green) and its score to 100. As
	long as a post's status remains true, its score will decay using a half-life formula set by the site administrator.
	For example, with a 26-week half-life, the score would slowly be reduced to 60.62 after 19 weeks. Once contested, its
	status would become false (red) and its score reduced to 0. If it became true again, it would reset (to 100) and the
	decay process would start over. A post will likely toggle back and forth between true and false throughout its
	lifetime with its score ranging between 0 and 100. Note that Sidebar comments and Initiators are not scored and will
	not affect a user's rating.
</p>

<p class="paragraph">
	Scoring is important as users will be ranked according to their rating which is an average of their most recent
	100 post scores. Although individual post scores are not made public, user ratings are very much so. These ratings
	will determine numerous things including access to different certification levels, eligibility for mediation
	capabilities, and of course, status and credibility. The decay feature is necessary to prevent successful users
	from holding on to a lofty ranking even after going dormant. A user must remain active to maintain a high rating.
</p>

<p class="paragraph">
  A leaderboard will be present at all times in the right column. It keeps track of user rankings and displays
	the top 20 users. Future improvements will include the ability to select various moving averages and sort the list
	accordingly.
</p>

<p class="paragraph">
  Each user can see a breakdown of his ranking in his User Profile Rating tab. In addition to his rating and rank, he
	can see his percentile and "Highest Rating" value and date. This setting can be reset (like a high-water mark) at any
	time. Future improvements will include a histogram of these values.
</p>

<p class="title">
	Home Page:
</p>

<p class="paragraph">
	The home page consists of left and right side columns and a center "feed" queue. This queue is populated with
	posts according to the current user's filter settings. By default, this will be set to "All" which basically means
	all top level posts of any type (Opinion, Initiator, or Casual).
</p>

	<p class="paragraph">
		Posts in the queue are displayed using the level of verbosity set in the user's profile settings. The lowest
		setting displays only the bare minimum content while the highest setting displays everything. This setting can be
		modified using the "Less" or "More" buttons found at the top (right) of the queue, or in the user's profile settings.
	</p>

	<p class="paragraph">
		Each post includes the OP's profile picture, his name, his rating, and a "Follow" option to add him to the
		current user's "Follow" list. The second line displays the post's primary message possibly preceded by a Lone Wolf
		icon and/or an external link &nbsp <span><%= image_tag('links.png', :size => '16x14') %></span> &nbsp icon. The third
		line displays the number of (direct objections / total offspring objections) and (direct comments / total offspring
		comments). It also displays the number of views, the tree level, a "Bookmark" option to add this post to a user's
		"Bookmark" list, and a "like" button in the form of a &nbsp <span><%= image_tag('thumbs-up-gray.png', :size => '16x20') %></span> &nbsp icon.
		The right side of each post displays two timestamps indicating when the post was first created and when it was last
		updated. A post is considered to have been "updated" whenever any new offspring (or descendant at any level) has been
		generated.
	</p>

<p class="title">
	Post Page:
</p>

<p class="paragraph">
	Selecting the primary text message of any post on the home page will redirect you to the Post Page with the selected
	post featured at the top. Displayed beneath it will be a complete list of its direct responses
	(Objections or Sidebars -- depending on which radio button is selected.) Selecting the "Expand" option will expand
	this list to include all offspring using proportionate indentation to depict generation levels. Selecting "Collapse"
	will revert to a list of direct responses only.
</p>

<p class="paragraph">
	Selecting the primary text messages in children posts will allow users to traverse downward through any topic branch.
	At any point, a user can traverse upward by selecting the "Parent" or "Root" options. The "Parent" option will move
	up one level while "Root" will jump all the way to the Initial Opinion.
</p>

<p class="paragraph">
	The "Reply" option is used to generate a new post in response to the featured post. The type of post created depends on
	the radio button selected ("Objection", or "Sidebar"). With Objections, the user must select an Objection type using
	one of the radio buttons available ("Manual", "Template", "Mediation Request".) With Comments, the only input required
	is a primary text message. Support text and a URL are optional.
</p>

<p class="title">
	Profile Page:
</p>

<p class="paragraph">
	Selecting any profile picture or username will redirect to that user's profile page. This offers the ability to view the
	user's public profile information, his posting activity, and his rating breakdown. If the profile picture or username
	selected is the current user, he will have access to additional tabs including, "Account", "Password", "Settings", "Channels",
	"Mobile", "Email", and "Apps". With appropriate privileges he will have access to the "Administrative" and "Mediation"
	tabs.
</p>

<div style="margin-left:2%">
	<p class="title">
		Filters:
	</p>

	<p class="paragraph">
		The content of a user's feed will be determined by the filter displayed at the top of the page. This filter can be
		changed by selecting from the options in the pulldown menu. These options includes site defaults and custom defined
		filters -- separated by a horizontal divider. The default filters include (but are not limited to), "All", "Opinions", "Objections",
		"Initiators", "Following", "Bookmarks",and "Lone Wolf". Users can create and modify their custom filters by clicking
		the edit icon.
	</p>

	<p class="title">
		Rating:
	</p>

	<p class="paragraph">
		The ratings page displays a user's current rating, rank and percentile. It also maintains a record of his highest
		rating ever -- much like a high-water mark. This mark can be reset at any time using the button provided. The page also
		includes a convenient explanation of how posts are scored and ratings are calculated.
	</p>
</div>
