<!DOCTYPE html>
<html>
    <head>
      <style>
          body {
          }
          .help {
              font: arial, sans-serif;
              margin-left: 150px;
              margin-right: 150px;
              justify-content: ;
          }

      </style>
    </head>

    <body>
        <% provide(:title, "Help") %>
        <p class="help">
          Under Construction...</p>
    </body>
</html>