<p class="title">
	Information Overload:
</p>

<p class="paragraph">
	Modern humans have achieved great intellectual and technological advances due to their ability to communicate ideas and
	share knowledge. The relatively recent “Information Age” (sometimes referred to as the Computer Age, or Digital Age)
	has accelerated this process like never before. The introduction of the Internet and the World Wide Web along with
	relentless progress in microprocessor capabilities and data storage has helped make this possible. There doesn’t
	appear to be an end in sight. It was Gordon E. Moore back in 1965 who predicted a doubling of microchip performance
	every two years for the following decade. This prediction (well known as “Moore’s Law”) proved to be uncannily
	accurate far beyond the time span envisioned. In lockstep with these advances has been the explosive growth of
	information technology. It is this branch of engineering that has saturated our lives with more information than
	we can possibly process. We are exposed to new facts, ideas, rumors, propaganda and opinions like never before. In
	the balance, this is a good thing, but unfortunately, it has a downside.
</p>

<p class="paragraph">
	Although the human brain is certainly one of Mother Nature’s greatest achievements, there is no way she could have
	anticipated the input it is now expected to process. Every day exposes us to a never-ending onslaught of new
	information and new experiences. As we struggle to digest it all, we are overwhelmed with expectations from our
	families, our bosses, our schools, and our community. The rate at which we are now required to process input, store
	the results, and make critical decisions far exceeds her original design requirements. All too often we use mental
	shortcuts as a way to deal with this. When we read the newspaper do we really read it, or do we skim the headlines
	and perhaps a few paragraphs? When we study for a test, do we take the time to thoroughly understand the material or
	do we simply memorize the basics and maybe a few mnemonics? When we listen to our friends or spouses, do we really
	concentrate on what they’re saying or do we time-slice between them and other issues on our minds? Many of us have
	no choice but to filter out most of this input while managing to process and/or retain only the bare minimum. This
	becomes habit-forming without even being aware of it. It’s a form of self-preservation as we would otherwise quickly
	become overloaded and overwhelmed.
</p>

<p class="paragraph">
	Much like complex computer network switches, our brains are only designed to handle a certain rate of input and
	throughput. For the average goat herder, this isn’t an issue, as his daily tasks are simple and fairly repetitive
	requiring minimal mental bandwidth. However, for the typical modern skilled professional, this is a problem.
	Depending on our surrounding environment and quantity of mental stimuli, our brains must somehow adapt. In this age
	of information overload, it appears that many of us have learned to cope by filtering out most of this input.
	Unfortunately, this habit often leaves a fragmented or incomplete knowledge base which is a critical component of
	our reasoning processes normally used to analyze situations, and form wise conclusions.  Without a healthy knowledge
	base, a person is forced to rely on intuition, instinct, hunches, and “gut-feelings”. These are good things to
	possess and use when appropriate but not when parsing an important and perhaps complicated message or situation.
	Far too many people have “devolved” to this point resulting in a lack of reasoning skills and irresponsible decision
	making. This is a huge problem facing our nation, and perhaps our world today. For example, what could be more
	dangerous than an electorate with little ability to separate fact from fiction, good from evil, truth from deception,
	and right from wrong? Even worse is their inability to rationalize and identify fallacious comments directed their
	way. Their critical thinking process has been simplified to include a single step when analyzing a proposition or
	situation: How do I feel? These people are frustrating to deal with as no amount of reasoning will overcome the
	tight grip they maintain on their emotional conclusions. This problem now has a solution. ProveIt! is a revolutionary
	and exciting new website designed to allow truth seekers to submit opinions (or invite opinions) and watch them
	resolve to either true or false as all deceptive, distorted, assumptive, and fallacious objections are exposed and
	ultimately nullified.
</p>

<p class="paragraph">
	After completing the tutorials and learning the ProveIt! philosophy, users will be well equipped to submit opinions
	and defend them with confidence and skill. No longer will they be forced to accept the dreaded phrase, “it’s my
	opinion. Let's agree to disagree.” Anyone who likes to debate would probably agree that hearing this phrase is like
	fingernails on a chalkboard. It has become the ultimate trump card usually used (or abused) at the most critical
	juncture of an important debate. Everything screeches to a halt at that point. We can’t argue with that… Or can we???
</p>

<p class="paragraph">
	Consider the following definitions:
</p>

<p class="paragraph">
<b>Fact</b>  [fakt] <i>noun</i>
</p>

<ol class="paragraph">
	<li>Something that actually exists; reality; truth.</li>
	<li>Something known to exist or to have happened.</li>
	<li>A truth known by actual experience or observation.</li>
</ol>

<p class="paragraph">
	<b>O-pin-ion</b>  [uh-pin-yuhn] <i>noun</i>
</p>

<ol class="paragraph">
	<li>A belief or judgement that rests on grounds insifficient to produce complete certainty.</li>
	<li>A personal view, attitude, or appraisal.</li>
</ol>

<p class="paragraph">
	Most of us would concur with these definitions but few have considered their stark contrast.  They are, in fact,
	mutually exclusive. A “fact” is never anyone’s opinion and an “opinion” should never be construed as a fact. Anyone
	who says, “In my opinion, two plus two equals four” should be corrected and informed that this is not an opinion but
	rather a fact. Likewise, a claim that “Syracuse has the prettiest girls in the Big East”, should never be considered
	a fact until it has been clearly demonstrated as such, at which point it ceases to be an opinion. Unfortunately, many
	people cling to their opinions with little interest in considering other views -- or much less, changing their
	position. They have learned to embrace the flexibility and almost limitless latitude afforded by this word. Their
	targeted audience is rendered defenseless and has but two options: either accept these opinions, or attempt to argue.
	As many of us have learned, arguing is usually a fruitless endeavor as these people will usually deflect all facts and
	reasoning, and ultimately insist that they are entitled to their opinions. We are left frustrated and might even
	ponder the ultimate fate of humanity with so many among us being incapable of separating fact from fiction, or unable
	to recognize the most basic fallacious arguments. This is indeed a dangerous state of affairs -- especially in a world
	dominated by governments whose representatives are elected by these very people.
</p>

<p class="paragraph">
	Because most of us are incapable of managing anything beyond the simplest of arguments, people often take the easy way
	out forming opinions quickly with little regard for facts. It doesn’t take long for a debate to generate numerous
	tangential branches quickly exceeding our mental capacities. At this point the temptation to form a conclusion on
	emotion rather than logic is often irresistible. The former simply relies on intuition or personal feelings while the
	later requires serious thought and applied reason. So we cop out and declare an opinion. But insisting that a personal
	position is “just an opinion” is another way of saying, “this is my conclusion and there’s nothing you can say to
	change my mind.” It’s as if the term grants unlimited freedom to disregard any opposing views and protection from
	those who would disagree. This can be frustrating as it implies that they can’t be wrong. Dennis Miller, the comedian,
	made famous the line, “of course, that’s just my opinion… I could be wrong.” Many people laughed at the subtle irony.
	It’s this abuse of opinions that leaves so many debates unresolved.
</p>

<p class="paragraph">
	History is replete with examples of public debates resulting in diametrically opposed opinions. The OJ Simpson trial
	polarized this nation like never before. Even though the prosecution had amassed a mountain of evidence normally
	sufficient for any conviction, the jury in this case was convinced by skilled attorneys to acquit. For millions
	of concerned and astute observers, this flew in the face of common sense and logic. How could these 12 jurors come to
	this conclusion? How could otherwise reasonable people disagree so strongly when the evidence was so clear? Could it
	be that many people simply believe what they want to believe? Could it be that they choose to believe whatever makes
	them comfortable or fits their world narrative? Unfortunately, it could and it is. People have learned that thinking
	and reasoning are unnecessary. All they have to do is declare a conclusion based on how they feel about an issue and
	claim it as “their opinion” as if this shields them from all criticism.
</p>

<p class="paragraph">
	Imagine someone making the claim, “In my opinion, the moon is made of spare ribs.” How do you react? After all, it’s
	just an opinion! Right? Wrong! At least in the ProveIt! world it’s wrong! Qualifying a statement as one’s opinion
	should not automatically shield him from criticism or correction. A less absurd example might be, “In my opinion,
	Fords are better than Chevys.” While far from an established fact, it’s possible that all measurable criteria could
	be accumulated and reasonable people -- whether they previously agreed with the original opinion or not – could come
	to this conclusion (perhaps begrudgingly) based on the facts presented.
</p>

<p class="paragraph">
	So where does this leave us? How often do you engage people in “friendly” debates? How often do you successfully change
	anyone’s mind? Rarely? Never? This is due to the nature of debates and how they tend to spin out of control quickly
	jumping from one point to another rarely resolving anything. When you do manage to squeeze out a valid point without
	interruption, it’s usually misinterpreted, taken out of context, or dragged down any number of irrelevant paths.
	Debating online isn’t much better. One quick glance at any discussion forum will reveal this to be the case. Each
	thread usually starts with a statement, or even a short essay (or article) – whether it be fact, conjecture, or
	opinion. What follows (depending on the nature of the topic) is usually an onslaught of personal attacks, insults,
	and fallacies directed back and forth from both sides of the so-called “debate”. And the visual format is usually
	linear with perhaps a few levels of indentation allowing for replies. This format is very difficult to read and
	impossible to manage, Valid points are quickly buried and forgotten. All of this accomplishes very little. Few people
	will be convinced to change their position – yet these forums flourish. People love to debate. It gives them a sense
	of involvement and allows them to vent their frustrations.
</p>

<p class="paragraph">
	So what can we do? Do we continue to just shrug, shake hands with our adversaries, and part ways agreeing to disagree?
	Do we assume that this is an intrinsic part of being human and an unsolvable problem? Or perhaps we’ve been needlessly
	stuck in this paradigm for long enough. Perhaps there is something that can be done about it. What if a debate forum
	existed in which arguments were forced into a simple Boolean-structured format in which no opinion and/or objection
	could be ignored and whose truth was ultimately determined (even if slowly and/or painfully)? Imagine stating your
	opinion on a subject allowing people to challenge you from every imaginable angle but instead of ending up with a
	deadlocked mess of jumbled attacks and unsubstantiated opinions, you ultimately prove your point by successfully
	defending all objections and proving them wrong by systematically exposing their fallacies and baseless claims.
	ProveIt! will allow serious people to post opinions on any subject and conduct meaningful and conclusive debates. It
	was developed with the theory that debates are “winnable” based on logic and facts. Unlike other debate sites that
	attempt to declare a winning side based on an arbitrary scoring system or votes, ProveIt! will determine a “winner”
	using a methodology that users will grow to appreciate as they develop and master skills in logic and argumentative
	theory. Conclusions will ultimately become irrefutable!
</p>

<p class="paragraph">
	This is the purpose of ProveIt!: to seek the truth using a top-down systematic methodology rendering all opinions and
	objections as either true, or false. Chances are, if someone submitted the opinion “the moon is made of spare ribs”,
	ProveIt! users would quickly render it false! On the other end of the spectrum, opinions such as “abortion should be
	illegal” might require months of debate and perhaps thousands of objections dozens of levels deep before all branches
	of the debate are thoroughly examined and the truth is ultimately revealed.
</p>

<p class="title">
How will it work?
</p>

<p class="paragraph">
	First let’s talk about trees. Not the kind that grow from the ground but the graphical form often used in computer
	science data structures. Technically speaking, a tree is an undirected graph in which any two vertices (or nodes)
	are connected by exactly one (and only one) path.  The type of tree we’ll be using is known as a “rooted” tree much
	like most organization charts at large businesses. For example, at the top of one of these charts might be an
	Executive Director representing the root of the tree. Directly beneath him might be a CTO, a CCO, a CHRO, and maybe
	a CFO. The next level would be numerous high-level managers… and so on. At the bottom of each branch would be a
	worker with no subordinates. ProveIt! also uses rooted tree structures to manage its debates but at the root of these
	trees will be an initial opinion followed by any number of direct objections and cascading offspring.
</p>

<p class="paragraph">
	It’s important to understand the components of a rooted tree structure as they are frequently referred to in the
	ProveIt! documentation and website. We often refer to relationships such as parents, children and siblings. A parent
	is the node from which a child originates. A family might be referring to a parent and all of its children.
	Sibling have the same parent. The offspring of a node refers to its children and all descendents cascading
	beneath it. Leaf nodes have no offspring (children) and terminate a branch. For example, an initial opinion will
	probably inspire numerous objections. Each of these objections are “children” of the initial opinion. They might
	also be referred to as “offspring” and/or “descendant” nodes. Each objection represents a new “level” of the branch
	or tree. Each node in a tree resides in a level defined by its distance from the root node (level 0). Level 1 is
	the set of all nodes directly below the root node. Level 2 is the set of all nodes directly attached below level 1,
	and so on. Each level (other than 0) may consist of any number of nodes.  Level 0 will always have only one node.
</p>

<p class="paragraph">
	Although other forums use trees to represent discussions, the presentation is usually vertically linear using only
	slight indentations to represent the various levels within the tree while displaying the entire “polylogue” in a
	scrollable form. This makes it very difficult to manage mentally – especially as the tree grows large. What usually
	results is a long list of comments resulting in nothing but a confusing pile of unsubstantiated opinions and verbal
	attacks. It becomes virtually impossible to keep track of which comments are addressing who or what. The ProveIt!
	format focuses on each individual node and its children allowing users to easily navigate throughout the tree and
	attack all fallacious or factually incorrect objections.
</p>

<p class="paragraph">
	The most important feature of ProveIt! is how each objection node (and initial opinion node) always resolves to
	either true or false. On the website this translates to either green or red, respectively. When created they start
	out green and will stay that way until someone contests them by posting an objection.
</p>

<p class="paragraph">
	The ultimate goal for those agreeing with the root node’s initial opinion is to keep it green. Those who disagree
	will strive to turn it red. But this can only be accomplished by attacking and proving wrong all objections
	throughout the tree opposing your opinion.
</p>
