<p class="maintitle">
	Backstory
</p>

<p class="paragraph">
	Modern humans have achieved great intellectual and technological advances due to our ability to communicate ideas and
	share knowledge. The relatively recent "Information Age" (sometimes referred to as the Computer Age, or Digital Age)
	has accelerated this process like never before. The introduction of the Internet and the World Wide Web along with
	relentless progress in microprocessor capabilities and data storage has helped make this possible. There doesn't
	appear to be an end in sight. It was Gordon E. Moore back in 1965 who predicted a doubling of microchip performance
	every two years for the following decade. This prediction (now well known as "Moore's Law") proved to be uncannily
	accurate far beyond the time span envisioned. In lockstep with these advances has been the explosive growth of
	information technology. It is this branch of engineering that has saturated our lives with more information than we
	can possibly process. We are exposed to new facts, ideas, and opinions like never before. In the balance, this is a
	good thing, but unfortunately, it has a downside.
</p>

<p class="paragraph">
	Although the human brain is certainly one of Mother Nature's greatest achievements, there's no way she could have
	anticipated the input it is now expected to process. Every day exposes us to a never-ending barrage of new information
	and new experiences. As we struggle to digest it all, we are inundated with expectations from our families, our
	bosses, our schools, and our community. The rate at which we are now required to process input, store the results,
	and make critical decisions far exceeds our original design intent. All too often we use mental shortcuts as a way to
	deal with this. When we read the newspaper do we really read it, or do we skim the headlines and perhaps a few
	paragraphs? When we study for a test, do we take the time to thoroughly understand the material or do we simply
	memorize the basics and maybe a few mnemonics? When we listen to our friends or family, do we really concentrate on
	what they're saying or do we time-slice between them and other issues on our minds? Many of us have no choice but to
	filter out most of this input while managing to process and retain only the bare minimum. This can easily become a
	subconscious habit as a means to avoid brain overload.
</p>

<p class="paragraph">
	Have you ever been engaged in a debate and become convinced your opponent wasn't even processing your
	input? Experiments have demonstrated this probably wasn't your imagination. Ask someone to say the word "shop" ten
	times quickly. Then, without hesitation, calmly ask what they do when they get to a green light. Almost without fail,
	they will say "stop". Psychologists aren't sure why this works but think it probably has something to do with people
	being preprogrammed to respond in a certain way based on what they think they are hearing (or are about to hear).
	Another theory suggests it's a form of chunking interference. Chunking is a mental process by which individual pieces
	of information are bound together into a meaningful whole. It's thought that somehow, by repeating the word "shop"
	multiple times (or any word similar to "stop"), this process is short circuited. As an extension of this experiment,
	without revealing their mistake, these people were asked the next day to recall this conversation (not knowing it was
	a test). Again, almost without fail, they insist they were asked "what do you do when you get to a <em>red</em> light?".
	Perhaps this helps explain why people often disagree on things that were said in the past. While this is shown to work
	with adults over 90 percent of the time, it's interesting to note it usually does NOT work with young children. The
	theory is that their brains haven't developed as many chunking "scripts" and are instead more likely to actually
	process the words spoken to them.
</p>

<p class="paragraph">
	So, much like a complex computer network switch, our brains are only designed to handle a certain amount of throughput.
	For the average goat herder, this isn't an issue, as his daily tasks are simple and fairly repetitive requiring
	minimal mental bandwidth. However, for the typical modern skilled professional, this is a problem. Depending on our
	surrounding environment and quantity of mental stimuli, our brains must somehow adapt. It appears that many of us have
	learned to cope by filtering most of it out. Unfortunately, this habit often leaves a fragmented or incomplete
	knowledge base which is a critical component of our reasoning processes used to analyze assertions and form wise
	conclusions. Without a healthy knowledge base, people tend to gravitate toward their cognitive biases (which basically
	boil down to "gut-feelings"), but unfortunately, these biases often get in the way of rational and logical thought.
	Everyone has them and they're okay to rely on when "shooting from the hip" in a casual setting, but not when parsing
	an important and perhaps complicated message or situation. Far too many people have "devolved" to this point resulting
	in a lack of reasoning skills and irresponsible decision making. This is a huge problem facing our nation, and perhaps
	the world today. After all, what could be more dangerous than an electorate with little ability to separate fact from
	fiction, good from evil, truth from deception, and right from wrong? Even worse is their inability to rationalize and
	identify fallacious or biased comments. Their critical thinking process has been reduced to a single question: How
	does it make me feel? These people are frustrating to deal with as no amount of reasoning will overcome the tight grip
	they maintain on their emotional conclusions.
</p>

<p class="paragraph">
	Fortunately, this problem now has a solution. ProveIt! allows truth seekers to submit opinions (or invite opinions)
	and watch them resolve to either true or false as all deceptive, distorted, assumptive, and fallacious objections are
	exposed and ultimately nullified. After completing the tutorials and learning the ProveIt! philosophy, users will be
	well equipped to submit opinions and defend them with confidence and skill. No longer will they be forced to accept
	the dreaded phrase, "agree to disagree." Anyone who likes to debate would probably agree hearing this phrase is like
	fingernails on a chalkboard. It has become the ultimate trump card often used (or abused) at the most critical
	juncture of an important debate. Everything screeches to a halt at that point. We can't argue with that... Or can we???
</p>

<p class="paragraph">
	Consider the following definitions:
</p>

<p class="paragraph">
<b>Fact</b>  [fakt] <i>noun</i>
</p>

<ol class="paragraph">
	<li>Something that actually exists; reality; truth.</li>
	<li>Something known to exist or to have happened.</li>
	<li>A truth known by actual experience or observation.</li>
</ol>

<p class="paragraph">
	<b>O-pin-ion</b>  [uh-pin-yuhn] <i>noun</i>
</p>

<ol class="paragraph">
	<li>A belief or judgement that rests on grounds insifficient to produce complete certainty.</li>
	<li>A personal view, attitude, or appraisal.</li>
</ol>

<p class="paragraph">
	Most of us would agree with these definitions but few have considered their stark contrast. They are, in fact,
	mutually exclusive. A "fact" is never anyone's opinion and an "opinion" should never be construed as a fact. Anyone
	who says, "In my opinion, two plus two equals four" should be corrected and informed that this is not an opinion but
	rather an accepted fact. Likewise, a claim that "Syracuse has the prettiest girls in the Big East", should never be
	considered a fact until it has been clearly demonstrated as such, at which point it ceases to be an opinion.
	Unfortunately, many people cling to their opinions with little interest in considering opposing views -- or much less,
	changing their own. They have learned to embrace the flexibility and almost limitless latitude afforded by this word.
	Their targeted audience is rendered defenseless and has but two options: either accept their opinion, or attempt to
	argue. As many of us have learned, arguing is usually a fruitless endeavor as these people will usually deflect all
	facts and reasoning, and ultimately insist that they are entitled to their opinions. We are left frustrated and might
	even ponder the ultimate fate of humanity with so many among us being incapable of separating fact from fiction, or
	unable to recognize the most basic fallacious arguments. This is indeed a frustrating and dangerous state of affairs!
</p>

<p class="paragraph">
	Because human brains are bad at managing anything beyond the simplest of arguments, many of us often take the easy
	way out forming opinions quickly with little regard for facts. It doesn't take long for a debate to generate numerous
	tangential branches quickly exceeding our mental capacity. At this point the temptation to form a conclusion based on
	emotion rather than logic is often irresistible. The former simply relies on intuition or personal feelings while the
	later requires serious thought and applied reason. So we cop out and declare an opinion. But insisting that a personal
	position is "just an opinion" is another way of saying, "this is my conclusion and there's nothing you can say to
	change my mind." It's as if the term grants unlimited freedom to disregard any opposing views and protection from
	those who would disagree. This can be frustrating as it implies they can't be wrong -- by definition. Dennis Miller,
	the comedian, made famous the line, "of course, that's just my opinion... I could be wrong." Many people laughed at
	the subtle irony. It's this abuse of opinions that leaves so many debates unresolved.
</p>

<p class="paragraph">
	<span><%= image_tag('Dilbert2.jpg', :class => "growmax") %></span>
</p>

<p class="paragraph">
	History is replete with examples of public debates resulting in diametrically opposed opinions. The OJ Simpson trial
	polarized this nation like never before. Even though the prosecution had amassed a mountain of evidence normally
	sufficient for any conviction, the jury in this case was convinced by skilled attorneys to acquit. For millions of
	concerned and astute observers, this flew in the face of common sense and logic. How could these 12 jurors come to
	this conclusion? How could otherwise reasonable people disagree so strongly when the evidence was so clear? Could it
	be that many people simply believe what they want to believe? Could it be that they choose to believe whatever makes
	them comfortable or fits their world narrative? Unfortunately, it could and it is. People have learned that thinking
	and reasoning are unnecessary. All they have to do is declare a conclusion based on how they feel and claim it as
	"their opinion" as if this shields them from all criticism. In this case, many observers believed this was a case of
	jury nullification motivated by perceptions of racial injustices. All these years later, it's interesting to note
	that most black people now concede that Simpson was probably guilty.
</p>

<p class="paragraph">
	Imagine someone making the claim, "In my opinion, the moon is made of spare ribs." How do you react? After all, it's
	just an opinion! Right? Wrong! At least in the ProveIt world it's wrong! Qualifying a statement as one's opinion
	should not automatically shield him from criticism or correction. A less absurd example might be, "In my opinion,
	Fords are better than Chevys." While far from an established fact, it's possible that all measurable criteria could
	be accumulated and reasonable people -- whether they previously agreed with the original opinion or not - could come
	to this conclusion (perhaps begrudgingly) based on the facts and criteria presented.
</p>

<p class="paragraph">
	So where does this leave us? How often do you engage people in "friendly" debates? How often do you successfully
	change anyone's mind? Rarely? Never? This is due to the nature of debates and how they tend to spin out of control
	quickly jumping from one point to another rarely resolving anything. When you do manage to squeeze out a valid point
	without interruption, it's usually misinterpreted, taken out of context, or dragged down any number of irrelevant
	paths. Debating online isn't much better. One quick glance at any discussion forum will reveal this to be the case.
	Each thread usually starts with an assertion, or even a short essay (or article) - whether it be fact, conjecture,
	or opinion. What follows (depending on the nature of the topic) is usually an onslaught of personal attacks, insults,
	and fallacies directed back and forth from both sides of the so-called "debate". And the visual format is usually
	linear with perhaps a few levels of indentation allowing for replies. This format is very difficult to read and
	impossible to manage, Valid points are quickly buried and forgotten. All of this accomplishes very little. Very few
	people will be convinced to change their position - yet these forums flourish. People love to debate. It gives them a
	sense of involvement and allows them to vent their frustrations.
</p>

<p class="paragraph">
	So what can we do? Do we continue to just shrug, shake hands with our adversaries, and part ways agreeing to disagree?
	Do we assume this is an intrinsic part of being human and an unsolvable problem? Or perhaps we've been needlessly
	stuck in this paradigm for long enough. ProveIt is a debate forum in which arguments are forced into a simple
	Boolean-structured format in which no opinion and/or objection can be ignored and whose truth is ultimately revealed
	(even if slowly and/or painfully). Opinions are posted (just like a typical discussion forum) allowing people to
	challenge you from every imaginable angle but instead of ending up with a deadlocked mess of jumbled attacks and
	unsubstantiated retorts, you ultimately prove your point by successfully defending all objections and proving them
	wrong by systematically exposing their fallacies and baseless claims, one at a time, like layers of an onion. ProveIt
	will allow serious people to post opinions on any subject and conduct meaningful and conclusive debates. It was
	developed with the theory that debates are "winnable" based on logic and facts. Unlike other debate sites that
	attempt to declare a winning side based on an arbitrary scoring system or votes, ProveIt will determine a "winner"
	using a methodology that users will grow to appreciate as they develop and master skills in logic and argumentative
	theory. Conclusions will ultimately become irrefutable!
</p>

<p class="paragraph">
	The ultimate purpose of ProveIt! is to identify the truth of all things using a top-down systematic methodology
	rendering all opinions and objections as either true, or false. Chances are, if someone submitted the opinion "the
	moon is made of spare ribs", ProveIt! users would quickly and successfully render it false! On the other hand,
	opinions such as "abortion should be illegal" might require months of debate and perhaps thousands of objections
	dozens of levels deep before all branches of the debate are thoroughly atomized and the truth is ultimately revealed.
	It could even boil down to a "negotiation" over the wording of the original opinion. ProveIt users should initiate or
	enter a debate not with a bull-headed attitude determined to prove themselves right, but to seek the truth (free from
	all biases) and learn. Of course, we are all predisposed with certain opinions and perspectives but seasoned ProveIt
	users are a very introspective bunch! They have learned to think before they issue an opinion or objection and check
	their biases before lashing out at someone they disagree with.
</p>

<p class="paragraph">
	<span><%= image_tag('Dilbert.jpg', :class => "growmax") %></span>
</p>