<p class="maintitle">
	News
</p>

<div style="margin-left:2%">
	<p class="title">
		Philosophy:
	</p>

	<p class="paragraph">
		<a href="http://www.theatlantic.com/education/archive/2014/02/why-study-philosophy-to-challenge-your-own-point-of-view/283954" target="_blank">Why Study Philosophy? To Challenge Your Own Point of View.</a>
	</p>
	<p class="paragraph">
		<a href="http://www.iep.utm.edu/epistemo" target="_blank">IEP -- Epistemology</a>
	</p>
	<p class="paragraph">
		<a href="http://www.logicalfallacies.info" target="_blank">Logical Fallacies</a>
	</p>
	<p class="paragraph">
		<a href="http://www.effectivethinking.org/2013/01/an-argumentative-theory-of-reasoning" target="_blank">Effective Thinking</a>
	</p>

	<p class="title">
		World:
	</p>

	<p class="paragraph">
		<a href="http://www.cnn.com/world" target="_blank">CNN</a>
	</p>
	<p class="paragraph">
		<a href="http://www.usatoday.com" target="_blank">USA Today</a>
	</p>

	<p class="title">
		Science:
	</p>

	<p class="paragraph">
		<a href="https://www.sciencenews.org/" target="_blank">Science News</a>
	</p>
	<p class="paragraph">
		<a href="https://www.sciencedaily.com/" target="_blank">Science Daily</a>
	</p>

	<p class="title">
		Sports:
	</p>

	<p class="paragraph">
		<a href="https://www.espn.com/" target="_blank">ESPN</a>
	</p>
	<p class="paragraph">
		<a href="https://www.sports.yahoo.com/" target="_blank">Yahoo Sports</a>
	</p>
	<p class="paragraph">
		<a href="http://www.foxsports.com/" target="_blank">Fox Sports</a>
	</p>

	<p class="title">
		Technology:
	</p>

	<p class="paragraph">
		<a href="http://www.popsci.com/technology" target="_blank">Popular Science</a>
	</p>
	<p class="paragraph">
		<a href="https://www.nytimes.com/pages/technology/index.html" target="_blank">The New York Times -- Technology</a>
	</p>
	<p class="paragraph">
		<a href="https://www.bbc.com/news/technology" target="_blank">BBC News -- Technology</a>
	</p>

	<p class="title">
		Finance:
	</p>

	<p class="paragraph">
		<a href="https://www.google.com/finance" target="_blank">Google Finance</a>
	</p>
	<p class="paragraph">
		<a href="http://www.reuters.com/finance" target="_blank">Reuters Business</a>
	</p>
	<p class="paragraph">
		<a href="https://finance.yahoo.com" target="_blank">Yahoo Finance</a>
	</p>

</div>