<div id="channelstitle" class="bold">
	Top Channels
</div>

<% Array(@top_channels).each do |t| %>
	<hr size="1" noshade>
	<div class="channelsline">
		<% op = Post.where(topic_id: t, level: 0).first %>
		<% prover = Prover.where(id: t.prover).first %>
		<%= link_to_unless prover == nil, prover.first_name + " " + prover.last_name + " (" + prover.provername + ")", op, {:style=>'color:blue;'} %>
	</div>
<% end %>