<% cache(@top_provers) do %>
	<div id="scoreboardtitle">
		Scoreboard
	</div>
	<hr size="1" noshade>
	<table>
		<tr>
			<th class="scoreboardhead">Rank</th>
			<th class="scoreboardhead">Name</th>
			<th class="scoreboardhead">Rating</th>
		</tr>
		<% @top_provers.each_with_index do |p, i| %>
			<tr>
				<td class="scoreboardline"><%= i + 1 %></td>
				<td class="scoreboardline"><%= link_to p.provername, p %></td>
				<td class="scoreboardline"><%= link_to p.rating.round(2), prover_path(p, :default_tab => "rating") %></td>
			</tr>
		<% end %>
	</table>
<% end %>