<div id="postlayout">
  <%= render "create" %>

  <div style="margin-top: 10px;">
    <div class="divider"><hr size="2" noshade></div>

    <button             name="Cancel" type="button" id="createcancelbutton">Cancel</button>
    <button class=right name="Submit" type="button" id="createsubmitbutton">Submit</button>
  </div>
</div>