/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
	color: black;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	display: inline;
}

.mainbody {
	display: inline-block;
	width: 74%;
	margin-top: 20px;
}

#leftcolumn {
	float:left;
	width: 13%;
	height: 100000px;
	margin-top: 20px;
}

#rightcolumn {
	float:right;
	width: 13%;
	height: 100000px;
	margin-top: 20px;
	text-align: right;
}

.sidepadding {
	margin-left: 10px;
	margin-right: 10px;
}

.toppadding20 {
	margin-top: 20px;
}

.toppadding10 {
	margin-top: 10px;
}

.toppadding5 {
	margin-top: 5px;
}
.right {
	float: right;
	display: inline;
}

.spacing {
	word-spacing: 5px;
}

.submit_text {
	display: inline;
	width: 14%;
	float: left;
}

textarea {
	display: inline;
	width: 86%;
}

body {
	background-color: white;
}

#post {
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	line-height: 20px;
}

#post.lightgreen {
	background-color: lightgreen;
}

#post.lightyellow {
	background-color: lightyellow;
}

#post.lightred {
	background-color: mistyrose;
}

#post.lightblue {
	background-color: lightblue;
}

#breadcrumbs {
    display: inline;
    position: absolute;
    right: 150px;
    padding-right: 10px;
    word-spacing: 5px;

#create {
	margin-left: 10px;
}

#header {
	margin-left: 20px;
	margin-right: 20px;
	display: inline;
}

#proveit {
	margin-left: 30px;
	vertical-align: 100%;
	color: black;
	font-family: fantasy;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	display: inline;
}

.message {
	font-size: 12px;
	color: blue;
}
