/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-size: contain;
	background-color: white;
	overflow-y: scroll;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-pack: justify;
	-ms-flex-align: start;
	height: 90px;
}

#scales {
	margin-left:30px;
	border: 0;
	border-width: 0;
	text-decoration: none;
	flex: 2;
	-ms-flex: 2;
}

#proveit {
	color: black;
	font-family: fantasy;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	flex: 12;
	-ms-flex: 12;
}

#breadcrumbs {
	flex: 3;
	-ms-flex: 3;
}

.sidepadding {
	margin-left: 10px;
	margin-right: 10px;
}

.right {
	float: right;
	display: inline;
}

.spacing {
	word-spacing: 5px;
}

.login {
	border-radius: 0px;
	padding: 25px;
	margin-top: 100px;
	margin-left: 40%;
	border-style: outset;
	border-width: 5px;
	height: max-content;
	width: 250px;
}

h1 {
	color: black;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	display: inline;
}

.teamlist {
	font-size: 10px;
	font-style: italic;
}

.flexcontainerrowcenterstart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: start;
}

.flexcontainerrowcenterend {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: end;
}

.flexcontainer1 {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flexitem1, .flexitem2, .flexitem3, .flexitem4{
	flex: auto;
	margin-right: 8px;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-pack: justify;
	-ms-flex-align: start;
}

#leftcolumn {
	flex: 6;
	-ms-flex: 6;
	order: 1;
	margin-top: 20px;
}

#mainbody {
	flex: 36;
	-ms-flex: 36;
	order: 2;
	margin-top: 20px;
}

#rightcolumn {
	flex: 8;
	-ms-flex: 8;
	order: 3;
	margin-top: 20px;
}

#userinfo {
	margin-top: 28px;
	font-size: 10px;
	padding-left: 15px;
}

#userimage {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	width: 80%;
}

.toppadding20 {
	margin-top: 20px;
}

.toppadding10 {
	margin-top: 10px;
}

.toppadding5 {
	margin-top: 5px;
}

.submit_text {
	display: inline;
	width: 14%;
	float: left;
}

.message_placeholder, .support_placeholder {
	display: inline;
	width: 86%;
}

.post {
	visibility: hidden;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	line-height: 20px;
	overflow-y: auto;
}

.postcontainer1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-pack: start;
	-ms-flex-align: start;
}

.postcontainer2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-pack: start;
	-ms-flex-align: center;
}

.postcontent {
	width: 100%;
}

.postline {
	width: 98%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-pack: justify;
	-ms-flex-align: center;
}

.vlevel1 {
	font-size: 12px;
}

.vlevel2, .vlevel3 {
	font-size: 10px;
}

.vlevel4 {
	width: 98%;
	margin: 3px;
	font-size: 10px;
	background-color: white;
	line-height: 130%;
	max-height: 150px;
	border-radius: 8px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}

.vlevel5 {
	width: 98%;
	margin: 3px;
	font-size: 10px;
	line-height: 50%;
	max-height: 75px;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.post.lightgreen {
	background-color: lightgreen;
}

.post.lightyellow {
	background-color: lightyellow;
}

.post.lightred {
	background-color: mistyrose;
}

.post.lightblue {
	background-color: lightblue;
}

#create {
	margin-left: 10px;
}

.message {
	font-size: 12px;
	color: blue;
}

.postimage {
	margin: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	width: 50px;
	height: 50px;
}

.kidtitle {
	margin-left: 10%;
	display: inline;
}

#marquee {
	margin-top: 28px;
	margin-left: 10%;
	margin-right:10%;
	padding-bottom: 5px;
	width: max-content;
	height: max-content;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
}

#marqueetitle {
	text-decoration: underline;
	margin-top: 5px;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.marqueeline {
	color: blue;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10px;
	line-height: 12px;
}

#leaderboard {
	margin-top: 28px;
	margin-left: 10%;
	margin-right:10%;
	width: max-content;
	height: max-content;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
}

#leaderboardtitle {
	text-decoration: underline;
	margin-top: 5px;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.leaderboardhead {
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	line-height: 15px;
	text-align: center;
	vertical-align: middle;
}

.leaderboardline {
	width: 100px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	vertical-align: middle;
}

.follow, .unfollow, .unfollowedby, .unbookmark, .resign, .disband, .teams, .resignteam, .resigngroup, .disbandgroup, .addgroup {
	font-size: 10px;
}

#centertext {
	float: left;
	display: inline;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
}

.filterlist {
	font-size: 11px;
}

