// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
}

#public {
  margin-top: 10px;
  margin-left: 53px;
}

#private {
  margin-top: 10px;
  margin-left: 53px;
}

.zero {
  margin-left: 0px;
}

.one {
  margin-left: 25px;
}

.two {
  margin-left: 50px;
}

.three {
  margin-left: 75px;
}

.four {
  margin-left: 100px;
}

.five {
  margin-left: 125px;
}

.six {
  margin-left: 150px;
}

.seven {
  margin-left: 175px;
}

.eight {
  margin-left: 200px;
}

.nine {
  margin-left: 225px;
}

.ten {
  margin-left: 250px;
}

.eleven {
  margin-left: 275px;
}

.twelve {
  margin-left: 275px;
}