// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
}

#public {
  margin-top: 10px;
  margin-left: 53px;
}

#private {
  margin-top: 10px;
  margin-left: 53px;
}

.zero {
  margin-left: 0px;
}

.one {
  margin-left: 25px;
}

.two {
  margin-left: 50px;
}

.three {
  margin-left: 75px;
}

.four {
  margin-left: 100px;
}

.five {
  margin-left: 125px;
}

.six {
  margin-left: 150px;
}

.seven {
  margin-left: 175px;
}

.eight {
  margin-left: 200px;
}

.nine {
  margin-left: 225px;
}

.ten {
  margin-left: 250px;
}

.eleven {
  margin-left: 275px;
}

.twelve {
  margin-left: 275px;
}

#postformatflexcontainer {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.createflexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.createflexitem1 {
  width: 14%;
}

.createflexitem2 {
  width: 86%;
  padding: 3px;
  border-width: thin;
  border-style: solid;
  border-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#postteam1 {
  margin-left: 40px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#postteam2 {
  margin-left: 40px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#postteam1heading1, #postteam1heading2, #postteam1heading3, #postteam2heading2, #postteam2heading3 {
  font-weight: bold;
}

#team1members {
  align-self: flex-start;
  border-width: 1px;
  border-style: solid;
  padding-left: 4px;
  width: 100%;
}

#team2members {
  align-self: flex-start;
  border-width: 1px;
  border-style: solid;
  padding-left: 4px;
  width: 100%;
}

#team1list {
  overflow-y: scroll;
  width: 100%;
}

#team2list {
  overflow-y: scroll;
  width: 100%
}

.provers_dropdown1 {
  width: 100%;
  margin-bottom: 4px;
}

.provers_dropdown2 {
  width: 100%;
  margin-bottom: 4px;
}