// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profilerating {
  margin-top: 10px;
  display: inline-flex;
}

#profileratingstats {
  height: max-content;
  flex: 2;
}

#ratingexplanation {
  flex: 5;
  background-color: lightblue;
  padding: 10px;
  height: max-content;
  width: 70%;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

#profilename {
  white-space: nowrap;
  text-align: center;
}

.profileproverimage {
  float: left;
  margin: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  width: 14%;
}

#profileprofilefields1 {
  float: right;
  width: 78%;
  background-color: lightblue;
  padding: 8px;
  margin: 10px;
  width: max-content;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

#profileprofilefields2 {
  float: right;
  display: inline-block;
  margin: 10px;
  padding: 8px;
  background-color: lightblue;
  height: max-content;
  width: 78%;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
}

#profileprofilefields3 {
  display: inline-block;
  margin: 10px;
  padding: 8px;
  background-color: lightblue;
  height: max-content;
  width: 97%;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.profilepage {
  visibility: hidden;
  padding: 10px;
  margin-top: 10px;
  height: max-content;
  width: 98%;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
}

.profilepagediv1 {
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  height: max-content;
  width: max-content;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.fallacydiv {
  margin-left: 10px;
}

.profilepagediv2 {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.profilepagediv3 {
  background-color: lightblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.profiletextfield1 {
  float: right;
  display: inline;
  width: 86%
}

.profiletextfield2 {
  float: right;
  display: inline;
  overflow-y: auto;
  width: 100%;
}

.range-wrapper {
  overflow: hidden;
  padding: 5px 0px;
  height: 24px;
}
.range-wrapper > div {
  position: relative;
  top: -19px;
  width: 5px;
}
.range-wrapper > .text {
  pointer-events: none;
}

input[type=range]{
  -webkit-appearance: none;
  width: 500px;
  height: 18px;
  background: linear-gradient(to right, #428bca 0%, #428bca 50%, #ddd 50%, #ddd 100%);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid black;
  height: 32px;
  width: 60px;
  background: white;
  margin-top: -14px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
  background: linear-gradient(to right, #428bca 0%, #428bca 50%, #ddd 50%, #ddd 100%);
}