<!DOCTYPE html>
<html>
<head>
  <title>Prove It!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="background-color: white;"><img src="/assets/Scales.jpg" height="80" width="120">
  <h1 style="margin-left: 30px; vertical-align: 100%">ProveIt!</h1></div>


  <%= yield %>

<h2> The footer goes here on every page.</h2>

</body>
</html>
